@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    
}

p, span {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 28px;
}

h2 {
    color: #333333;
    font-size: 22px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
}

.texto-branco {
    color: #ffffff;
}

.borda-branca {
    border: solid 1px #fff;
}

.borda-preta {
    border: solid 1px #333;
}

button {
    background-color: #7ab829;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-color: #6ea22c;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333333;
}

::-ms-input-placeholder {
    color: #333333;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px 15px;
}

.logo {
    width: 50px;
}


.menu li {
    display: inline-block;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li:first-child a{
    padding-left: 0;
}

.menu ul li:last-child a{
    padding-right: 0;
}

.menu a {
    text-decoration: none;
    padding: 14px 10px;
    color: #333;
}

.menu a:hover {
    color: #268fd0;
}

.conteudo-destaque {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.esquerda {
    background-color: #268fd0;
    width: 50%;
}

.direita {
    background-color: #2a9ee2;
    width: 50%;
}

.informacoes, .contato {
    padding: 2rem;
}

.contato-principal {
    margin: 0px 60px 60px 40px;
}

.positive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chamada {
    padding-top: 30px;
    display: inline-flex;
    align-items: center;
}

.chamada img {
    margin-right: 10px;
}

.video {
    padding: 2.5rem;
}

.video img {
    max-width: 100%;
    max-height: 100%;
}

.conteudo-pagina {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.titulo-pagina {
    padding: 100px;
    background-color: #2a9ee2;
    text-align: center;
}

.informacao-pagina {
    text-align: center;
    margin-top: 30px;
}

.informacao-pagina p{
    color: #333;
}

.rodape {
    display: inline-flex;
    width: 100%;
}

.redes-sociais, .area-contato, .localizacao {
    width: 33.333%;
    border-top:solid 1px #ccc;
    text-align: center;
    background-color: #f8f8f8;
    height: 250px;
}

.redes-sociais, .area-contato, .localizacao p, span {
    color: #333333;
}

.redes-sociais img {
    margin: 0px 15px 0px 15px;
}
